.discord-message {
	margin-top: 1.0625rem;
	color: #2e3338;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.discord-message:first-child:not(:only-child) {
	border-bottom: 4px double currentColor;
}
.discord-message:has(.discord-message-inner):target {
	background-color: #0606071a;
}
.discord-message:has(.discord-message-inner):hover {
	background-color: #06060705;
}
.discord-message .discord-message-inner {
	display: flex;
	border-radius: 10px;
	padding: 0 1em;
}
.discord-message .discord-message-content {
	padding-top: 2px;
	line-height: 160%;
}

.discord-message .discord-author-avatar {
	margin-top: 5px;
	margin-right: 16px;
	width: 40px;
	height: 40px;
}
.discord-message a.discord-author-avatar:hover {
	transform: scale(1.1);
}
.discord-message .discord-author-avatar img {
	transition: transform 0.2s ease-in-out;
	border-radius: 50%;
	height: 100%;
}
.discord-message a.discord-author-avatar:hover img {
	box-shadow: 0 0 20px 0 #000000e6;
}

.discord-message .discord-author-info {
	display: inline-flex;
	align-items: center;
	margin-right: 0.25rem;
}
.discord-message .discord-author-info .discord-author-username {
	color: #23262a;
	font-weight: 500;
	font-size: 1em;
}
.discord-message .discord-author-info:hover .discord-author-username {
	text-decoration: underline currentColor;
}
.discord-message .discord-author-info .discord-application-tag {
	display: flex;
	align-items: center;
	margin-top: 0.075em;
	margin-left: 4px;
	border-radius: 0.1875rem;
	background-color: #5865f2;
	padding: 0 0.275rem;
	height: 0.9375rem;
	color: #fff;
	font-size: 0.625em;
	line-height: 100%;
	text-transform: uppercase;
}
.discord-message .discord-message-timestamp {
	margin-left: 3px;
	color: #99aab5;
	font-size: 12px;
}

.discord-message .discord-message-markup {
	line-height: 1.375rem;
	word-wrap: break-word;
}
.discord-message .discord-message-markup > :not(.chip) {
	white-space: pre-wrap;
}

.discord-message-markup .paragraph:not(:last-child) {
	padding-bottom: 1em;
}
.discord-message-markup a {
	color: #00b0f4;
	font-weight: normal;
	text-decoration: none;
}
.discord-message-markup a:hover {
	text-decoration: underline;
}
.discord-message-markup strong {
	font-weight: 700;
}
.discord-message-markup u {
	text-decoration: underline;
}
.discord-message-markup blockquote {
	display: flex;
	margin: 0;
}
.discord-message-markup blockquote::before {
	margin: 0 12px 0 0;
	border-radius: 4px;
	background-color: #4f545c;
	padding: 0;
	width: 4px;
	content: " ";
	font-style: normal;
	font-weight: 400;
	font-size: 0.9em;
}
.discord-message-markup pre {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.5rem;
	border: 1px solid #202225;
	border-radius: 4px;
	background: #fdf6e3;
	padding: 0.5em;
	color: #586e75;
	font-size: 0.875rem;
}
.discord-message-markup pre code {
	display: block;
	padding: unset;
	overflow-x: auto;
	white-space: pre-wrap;
}
.discord-message-markup code {
	font-family:
		Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
		Monaco, "Courier New", Courier, monospace;
	white-space: break-spaces;
}
.discord-message-markup code::selection {
	background-color: #53585b;
}
.discord-message-markup .discord-custom-emoji {
	display: inline-block;
	vertical-align: bottom;
	width: 1.375rem;
	height: 1.375rem;
	object-fit: contain;
}
.discord-message-markup .discord-spoiler {
	cursor: pointer;
	background-color: #b9bbbe;
	color: transparent;
	user-select: none;
}
.discord-message-markup .discord-spoiler:not(:has(> :checked)) * {
	background-color: #b9bbbe;
	pointer-events: none;
	color: transparent;
}
.discord-message-markup .discord-spoiler:hover {
	background-color: #c7c8ca;
}
.discord-message-markup .discord-spoiler:hover:not(:has(> :checked)) * {
	background-color: #c7c8ca;
	color: transparent;
}
.discord-message-markup .discord-spoiler input {
	display: none;
}
.discord-message-markup .discord-spoiler:has(> :checked) {
	background-color: #e2e2e2;
	color: inherit;
	user-select: all;
}
.discord-message-markup .discord-time,
.discord-message-markup > code {
	border-radius: 3px;
	background-color: #0000000f;
	padding: 0 2px;
}
.discord-message-markup .discord-mention {
	transition:
		background-color 50ms ease-out,
		color 50ms ease-out;
	border-radius: 3px;
	background-color: #5865f226;
	padding: 0 2px;
	color: #687dc6;
	font-weight: 500;
}
.discord-message-markup a.discord-mention:hover {
	background-color: #5865f2;
	color: #fff;
}

.discord-attachments {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 0.25rem;
	position: relative;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	min-width: 0;
	min-height: 0;
	text-indent: 0;
}
.discord-attachment {
	display: flex;
	align-self: start;
	justify-self: start;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 0.9em;
	line-height: 150%;
}
.discord-attachment .discord-image-wrapper {
	display: block;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	user-select: text;
}
.discord-attachment .discord-image-wrapper img,
.discord-attachment .discord-image-wrapper video {
	max-width: 500px;
	height: auto;
}

@media (prefers-color-scheme: dark) {
	.discord-message {
		color: #dcddde;
	}
	.discord-message:has(.discord-message-inner):target {
		background-color: #fafafa0d;
	}
	.discord-message:has(.discord-message-inner):hover {
		background-color: #fafafa08;
	}

	.discord-message a.discord-author-avatar:hover img {
		box-shadow: 0 0 20px 0 #ffffff4d;
	}

	.discord-message .discord-author-info .discord-author-username {
		color: #fff;
	}
	.discord-message .discord-message-timestamp {
		color: #72767d;
	}

	.discord-message-markup blockquote::before {
		background-color: #72767d;
	}
	.discord-message-markup pre {
		border-color: #202225;
		background-color: #2f3136;
		color: #b9bbbe;
	}
	.discord-message-markup .discord-spoiler {
		background-color: #72767d;
	}
	.discord-message-markup .discord-spoiler:not(:has(> :checked)) * {
		background-color: #72767d;
	}
	.discord-message-markup .discord-spoiler:hover {
		background-color: #63656a;
	}
	.discord-message-markup .discord-spoiler:hover:not(:has(> :checked)) * {
		background-color: #63656a;
	}
	.discord-message-markup .discord-spoiler:has(> :checked) {
		background-color: #ffffff1a;
	}
	.discord-message-markup .discord-time,
	.discord-message-markup > code {
		background-color: #ffffff0f;
	}
	.discord-message-markup .discord-mention {
		background-color: #5966f24d;
		color: #a3b7fa;
	}
}
