* {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	--theme-color: #ff7b26;
}
body {
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	margin-left: 10%;
	background-color: #fcfcfc;
	padding: 4rem 0 0.25rem;
	width: min(80%, 1024px);
	color: #222;
}

a {
	color: var(--theme-color);
	text-decoration: none;
}
a:hover {
	text-decoration: solid;
}

nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	z-index: 1;
	background-color: var(--theme-color);
	padding: 0 10%;
	width: 100vw;
	height: 4rem;
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
}
.nav-logo {
	margin-right: 0.5rem;
	height: 3rem;
}

h1 {
	overflow-wrap: anywhere;
}
nav a,
h1 a {
	color: inherit;
}
h1 a:hover {
	color: var(--theme-color);
	text-decoration: none;
}

.chip {
	display: inline-flex;
	align-items: center;
	vertical-align: baseline;
	border: 1px solid transparent;
	border-radius: 20px;
	background-color: #e3e5e8;
	padding: 0 12px;
	height: 32px;
	color: #313338;
	font-weight: 600;
	font-size: 14px;
}
.chip.selected,
a.chip:hover {
	border-color: #5865f2;
	background-color: #e7e9fd;
}
.chip .chip-emoji {
	margin-right: 6px;
	width: 14px;
	height: 14px;
}

.author-info {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
}
.author-info .avatar {
	margin-right: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.author-info .socials {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	margin-left: auto;
}
@media (max-width: 550px) {
	.author-info {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.author-info h1,
	.author-info .socials {
		margin: 0;
	}
}

.socials a {
	display: flex;
	margin: 5px;
	width: 55px;
	height: 40px;
}
.socials svg {
	margin: auto;
	height: 100%;
}
.socials path {
	transition: fill 0.1s ease-out;
}
path.github {
	fill: #000;
}
.socials a:not(:hover) path:first-child {
	fill: #777;
}

@media (prefers-color-scheme: dark) {
	.chip {
		background-color: #2e3238;
		color: #dcddde;
	}
	.chip.selected,
	a.chip:hover {
		border-color: #727efb;
		background-color: #313363;
	}

	body {
		background-color: #222;
		color: #fff;
	}

	path.github {
		fill: #fff;
	}
	.socials a:not(:hover) path:first-child {
		fill: #aaa;
	}
}
