<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/suggestions/assets/style.css" />
		<link rel="stylesheet" href="/suggestions/assets/discord.css" />
		<link rel="shortcut icon" href="/suggestions/assets/icon.png" />
	</head>
	<body>
		<nav>
			<img src="/suggestions/assets/icon.png" class="nav-logo" title="Logo" />
			<a href="{{ site.baseurl }}">{{ site.title }}</a>
		</nav>

		{{ content }}
	</body>
</html>
