<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ page.title | escape }} | {{ site.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/discord.css" />
		<link
			rel="shortcut icon"
			href="{{ site.baseurl }}/assets/archive/icon-806602307750985799.png"
		/>
	</head>
	<body>
		<nav>
			<img
				src="{{ site.baseurl }}/assets/archive/icon-806602307750985799.gif"
				class="nav-logo"
				title="Logo"
			/>
			<a href="{{ site.baseurl }}/">{{ site.title }}</a>
		</nav>
		{{ content }}
	</body>
</html>
