---
layout: default
---

{% assign answer = site.data.answers[page.answer] %}

<h1><a href="{{ page.link }}" title="View on Discord">{{ page.title }}</a></h1>
<div class="chip selected" title="{{ answer.description }}">
	<img
		src="{{ answer.emoji.url }}"
		alt="{{ answer.emoji.name }}"
		class="chip-emoji"
		draggable="false"
	/>
	{{ page.answer }}
</div>
<div class="chip">
	<img
		src="{{ page.votes.emoji.url }}"
		alt="{{ page.votes.emoji.name }}"
		class="chip-emoji"
		draggable="false"
	/>
	{{ page.votes.count }}
</div>

<div class="discord-messages">{{ content }}</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/solarized-dark.css">
